.modal-intensive{
  &__info{
    margin-bottom: 30px;
  }

  &__text{
    margin-bottom: 24px;
  }


  &__button{
    padding: 12px 158px;
  }

  @media (max-width:768px){
    &__button{
      padding: 12px 134px;
    }
  }
}
